#display-text {
  text-align: center;
  font-size: 48pt;
  font-family: 'Hind', sans-serif;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -40%)
}
